/*Event details*/
#details {
    width: 80%;
    margin: 0 auto;
}

.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4em;
}

.detail img {
    width: 50%;

}

.detail h3{
    font-size: 2em ;
    font-weight: 500;
    margin-bottom: 1em;
}

#detail-1 h3 {
    font-size: 3em;
    font-weight: 700;
}

.detail-description {
    width: 100%;
    padding-left: 2em;
}

.detail-description ul {
    list-style-position: inside;

}

.detail-description ul li {
    margin-bottom: .4em;
}

.detail-description ul li:last-child{
    font-weight: bold;
}